body {
	background-image: linear-gradient(to bottom, #71c7ec, #5fbce6, #4cb0df, #36a5d9, #189ad3);
	margin: 5%;
}

h1 {
	font-family: "Playfair Display";
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 60px;
	color: white;
	text-shadow: 2.5px 1.5px #7f7f7f;

}

h2 {
	font-family: "Playfair Display";
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 28px;
	color: white;
	text-shadow: 1.5px 0.75px #7f7f7f;
	text-decoration: underline;
}

h3 {
	font-family: "Playfair Display";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 28px;
	color: white;
	text-shadow: 1.5px 0.75px #7f7f7f;
	text-decoration: underline;
}

p {
	font-family: "Playfair Display";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	color: white;
	margin-left: 30px;
}

li {
	font-family: "Playfair Display";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	color: white;
}

.map {
	float: right;
	height: 50%;
	width: 50%;
;
}

a {
	font-family: "Playfair Display";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	color: white;
	margin-left: 30px;
}

.linkedIn {
	height: 10%;
	width: 10%;
}

.id-chart {
	display: block;
	max-width: 40em;
	margin-right: auto;
	margin-left: auto;
}

.vis-speaks {
	display: block;
	max-width: 40em;
	margin-right: auto;
	margin-left: auto;
}

.resume {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 40em;
}

.week-3-assignment-titles {
	text-align: center;
}

#resume-dl {
	text-align: center;
	color: black;
}